#calendar {
    border: none;
    width: 100%;
    /*height: 50vh;*/

    align-self: stretch;

    grid-row: 1 / 5;
    grid-column: 3 / 4;
}

#calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}