#calendar {
    border: none;
    width: 100%;
    /*height: 50vh;*/

    align-self: stretch;

    grid-row: 2 / 7;
    grid-column: 2 / 4;
}

#calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}