img {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  max-height: 3rem;
}

#hamilton-logo {
  margin-bottom: 1rem;
}

#gmail-logo {
  margin-bottom: 1rem;
}

#social-media {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.button img {
  max-height: 1rem;
}

