p {
    margin-bottom: 0;
}

.collapseable {
    height: 0px;
    overflow: hidden;
}

.frame {
    border-style: solid;
    border-color: #00bfff;
    border-width: 1px;
}

#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 62.5em;
    width: 100%;
    align: center;
    margin: auto;
}

.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project {
    border-radius: 1em;
    background: inherit;
    padding: 1.25rem;
    color: #333333;
    height: 100%;
}

.project > p {
    text-align: center;
}

section {
    padding: 2rem;
    text-align: center;
}

div, a {
    background: inherit;
}

#contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 62.5em;
    width: 100%;
    align: center;
    margin: auto;
}

.contact {
    border-radius: 1em;
    background: inherit;
    padding: 1.25rem;
    height: 100%;
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
    color: inherit;
}

@media only screen {
    #project-grid {
	grid-template-columns: 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 40.0625em) {
    #project-grid {
	grid-template-columns: 1fr 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 64.0625em) {
    #project-grid {
	grid-template-columns: 1fr 1fr 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr 1fr;
    }
}

@media (hover:none) {
    /* Touch screen */

    .project {
	box-shadow: 0px 0px 20px #aaa;
    }

    .contact {
	box-shadow: 0px 0px 20px #aaa;
    }
}

@media not all and (hover:hover) {
    /* Hover support */

    .project {
	-webkit-transition: transform .2s, box-shadow .2s;
	transition: transform .2s, box-shadow .2s;
    }

    .project:hover,
    .project:active {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px #aaa;
    }
    
    .contact {
	-webkit-transition: transform .2s, box-shadow .2s;
	transition: transform .2s, box-shadow .2s;
    }

    .contact:hover,
    .contact:active {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px #aaa;
    }
}
