#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 62.5em;
    width: 100%;
    align: center;
    margin: auto;
}

.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project,
.project:hover,
.project:active,
.project:focus {
    color: #333333;
}

.project > p {
    text-align: center;
}

#contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 62.5em;
    width: 100%;
    align: center;
    margin: auto;
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
    color: inherit;
}

@media only screen {
    #project-grid {
	grid-template-columns: 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 40.0625em) {
    #project-grid {
	grid-template-columns: 1fr 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 64.0625em) {
    #project-grid {
	grid-template-columns: 1fr 1fr 1fr;
    }

    #contact-grid {
	grid-template-columns: 1fr 1fr;
    }
}

/* @media screen and (hover:on-demand), screen and (hover:none) { */
/*     /\* Touch screen *\/ */

/*     .project { */
/* 	box-shadow: 0px 0px 20px #aaa; */
/*     } */

/*     .contact { */
/* 	box-shadow: 0px 0px 20px #aaa; */
/*     } */
/* } */

/* @media screen and (hover:hover) { */
    /* Full hover support */

    .project {
	-webkit-transition: transform .2s, box-shadow .2s;
	transition: transform .2s, box-shadow .2s;
    }

    .project:hover,
    .project:active {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px #aaa;
    }
    
    .contact {
	-webkit-transition: transform .2s, box-shadow .2s;
	transition: transform .2s, box-shadow .2s;
    }

    .contact:hover,
    .contact:active {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px #aaa;
    }
/* } */
