p {
    margin-bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav {
    /* flex: 0 1 auto; */
    background-color: #00bfff;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 5px 10px #aaa;
    /* position: sticky; */
    top: 0;
    height: 5rem;
}

.nav ul {
    margin: 0 2rem;
    display: inline-block;
}

.nav ul li {
    float: left;
    list-style-type: none;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.nav h1 {
    display: inline-block;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    /* font-size: 3rem; */
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.nav h2 {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    /* font-size: 2rem; */
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.main > section:nth-child(odd) {
    background: #b3ecff;
}

.main > section:nth-child(even) {
    background: #e6f2ff;
}

.main > section:last-child {
    flex: 1 1 auto;
}

.justify {
    text-align: justify;
}

section {
    padding: 2rem;
    text-align: center;
}

.hover-button {
    padding: 1.25rem;
    height: 100%;
    background: white;
    box-shadow: 0px 0px 10px #aaa;
}

.grid {
    display: grid;
    grid-gap: 2rem;
    max-width: 62.5em;
    width: 100%;
    align: center;
    margin: auto;
    padding: 1rem;
}

.hover-button {
    -webkit-transition: transform .2s, box-shadow .2s;
    transition: transform .2, box-shadow .2s;
}

.hover-button:hover,
.hover-button:active,
.hover-button:focus {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px #aaa;
}

video {
    width: 100% !important;
    height: auto !important;
}

.center {
    align-self: center;
}

@media only screen (max-width: 40.0625em) {
    .small-1-col {
	grid-template-columns: 1fr;
    }

    .small-2-col {
	grid-template-columns: 1fr 1fr;
    }

    .small-3-col {
	grid-template-columns: 1fr 1fr 1fr;
    }

    .hide-small {
	display: none;
    }

    h1 {
	font-size: 1.6875rem;
    }
}

@media only screen and (min-width: 40.0625em) and (max-width: 64.0625em)  {
    .medium-1-col {
	grid-template-columns: 1fr;
    }

    .medium-2-col {
	grid-template-columns: 1fr 1fr;
    }

    .medium-3-col {
	grid-template-columns: 1fr 1fr 1fr;
    }

    .hide-medium {
	display: none;
    }
}

@media only screen and (min-width: 64.0625em) {
    .large-1-col {
	grid-template-columns: 1fr;
    }

    .large-2-col {
	grid-template-columns: 1fr 1fr;
    }

    .large-3-col {
	grid-template-columns: 1fr 1fr 1fr;
    }

    .hide-large {
	display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.pdf {
    width: 100%;
    height: 90vh;
}
